.vs/*
ConsoleApp1/bin/*
ConsoleApp1/obj/*
ConsoleApp2/bin/*
ConsoleApp2/obj/*
ConsoleApp3/bin/*
ConsoleApp3/obj/*
Factory2/bin/*
Factory2/obj/*
Factory3/bin/*
Factory3/obj/*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn